[submodule "ThirdParty/wasm3"]
	path = ThirdParty/wasm3
	url = https://github.com/wasm3/wasm3.git
[submodule "ThirdParty/WasmKit"]
	path = ThirdParty/WasmKit
	url = https://github.com/swiftwasm/WasmKit.git
[submodule "ThirdParty/testsuite"]
	path = ThirdParty/testsuite
	url = https://github.com/WebAssembly/testsuite.git
